build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/imagemanip.o
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/main.o
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/mainwindow.o
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/mdichild.o
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/moc_mainwindow.o
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/moc_mdichild.cpp
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/moc_mdichild.o
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/debug/QtIPEP.exe
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/Makefile
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/Makefile.Debug
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/Makefile.Release
build-QtIPEP-Desktop_Qt_5_4_0_MinGW_32bit-Debug/ui_mainwindow.h
QtIPEP.pro.user
QtIPEP.pro.user.3.3-pre1